aiofiles==0.6.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
cffi==1.14.5
chardet==4.0.0
comtypes==1.1.10
pycparser==2.20
requests==2.25.1
selenium==3.141.0
urllib3==1.26.5
websocket-client==1.1.0
yarl==1.6.3
